<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymleaf.org">
<head>
      <!--HTML 주석-->
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
        @font-face {
              font-family: 'Ownglyph_ParkDaHyun';
              src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2411-3@1.0/Ownglyph_ParkDaHyun.woff2') format('woff2');
              font-weight: normal;
              font-style: normal;
}
    </style>
</head>
<body style="background-color: pink; font-family: 'Ownglyph_ParkDaHyun';">
    <h1 style="background-color: gray;">밀리지 않고 꾸준히 재밌게 할것이다.</h1>


    <script>
      alert("Hello, RyoHaSeu!")
    </script>
</body>
</html>